body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #3fcec9;
  margin: 0; }

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }
  .wrap-auth {
    display: flex;
    flex-direction: column; }
